<div>
    <form name="profileForm" novalidate="" ng-submit="vm.profileUpdate(profileForm, vm.profile)">
      <div class="row">
        <div class="col-sm-offset-1 col-sm-5">
          <div class="form-group">
            <label for="fname">First name</label>
            <input ng-model="vm.profile.FirstName" type="text" class="form-control" id="fname" required>
            <span class="text-warning" ng-messages="profileForm.fname.$error" ng-if="profileForm.$submitted">
              <p ng-message="required">Please enter your first name</p>
            </span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="lname">Last name</label>
            <input ng-model="vm.profile.LastName" name="lname" type="text" class="form-control" id="lname"  required>
            <span class="text-warning" ng-messages="profileForm.lname.$error" ng-if="profileForm.$submitted">
              <p ng-message="required">Please enter your last name</p>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-5">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" ng-model="vm.profile.DisplayEmail" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email" disabled>
            <span class="text-warning" ng-messages="profileForm.email.$error" ng-if="profileForm.$submitted">
              <p ng-message="required">Please enter your email address</p>
            </span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="sport">Sport</label>
            <select required="" name="sport" ng-options="sport.Id as sport.Name for sport in vm.sports " class="form-control" id="sport" ng-model="vm.profile.Sport">
              <option  value="">Select</option>
            </select>
            <span class="text-warning" ng-messages="profileForm.sport.$error" ng-if="profileForm.$submitted">
              <p ng-message="required">Please choose sports</p>
            </span>
          </div>
        </div>
        <div class="col-sm-offset-1 col-sm-5">
          <div class="form-group">
            <label for="address1">Address</label>
            <input required="" type="text" class="form-control" name="address" id="address1" placeholder="" ng-model="vm.profile.AddressLines">
            <span class="text-warning" ng-messages="profileForm.address.$error" ng-if="profileForm.$submitted">
              <p ng-message="required">Please enter your address</p>
            </span>
          </div>
          <div class="form-group">
            <label for="city">Town/City</label>
            <input required="" type="text" class="form-control" name="city" id="city" placeholder="" ng-model="vm.profile.TownOrCity">
            <span class="text-warning" ng-messages="profileForm.city.$error" ng-if="profileForm.$submitted">
              <p ng-message="required">Please enter your city</p>
            </span>
          </div>
          <div class="form-group">
            <label for="pcode">Postcode</label>
            <input required="" type="text" class="form-control" name="pcode" id="pcode" placeholder="" ng-model="vm.profile.Postcode">
            <span class="text-warning" ng-messages="profileForm.pcode.$error" ng-if="profileForm.$submitted">
              <p ng-message="required">Please enter your postal code</p>
            </span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="home">Home Phone</label>
            <input required="" type="text" class="form-control" name="homeph" id="home" placeholder="" ng-model="vm.profile.HomePhone">
            <span class="text-warning" ng-messages="profileForm.homeph.$error" ng-if="profileForm.$submitted">
              <p ng-message="required">Please enter your home number</p>
            </span>
          </div>
          <div class="form-group">
            <label for="work">Work Phone</label>
            <input required="" type="text" class="form-control" name="workph" id="work" placeholder="" ng-model="vm.profile.WorkPhone">
            <span class="text-warning" ng-messages="profileForm.workph.$error" ng-if="profileForm.$submitted">
              <p ng-message="required">Please enter your work number</p>
            </span>
          </div>
          <div class="form-group">
            <label for="mobile">Mobile Number</label>
            <input required="" type="text" class="form-control" name="mobph" id="mobile" placeholder="" ng-model="vm.profile.MobilePhone">
            <span class="text-warning" ng-messages="profileForm.mobph.$error" ng-if="profileForm.$submitted">
              <p ng-message="required">Please enter your mobile number</p>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-5">
            <div class="form-group">
              <label for="sport">Roles interested in</label>
              <select required="" class="form-control" ng-options='role.Id as role.Name for role in vm.rolesData' id="sport" multiple ng-model="vm.profile.InterestedRoles" name="roles">
              </select>
              <span class="text-warning" ng-messages="profileForm.roles.$error" ng-if="profileForm.$submitted">
                <p ng-message="required">Please choose the roles</p>
              </span>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-offset-5 col-sm-5">
          <div class="clearfix">
            <button type="submit" class="btn btn-info">Update</button>
          </div>
        </div>
      </div>
  </form>
</div>
