<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1>Login</h1>
    </div>
    <div class="col-sm-4 col-sm-offset-4" ng-if="vm.errMessage">
      <div class="text-warning">
        {{vm.errMessage}}
      </div>
    </div>
    <div class="col-sm-4 col-sm-offset-4">
      <form  class="form"  name="postForm" ng-submit="vm.login(form)" novalidate>
        <fieldset ng-disabled="vm.submitted">

        <div class="form-group">
          <label>Username</label>

          <input type="text" name="username" class="form-control" ng-model="vm.user.username" required>
          <span class="text-danger" ng-messages="postForm.username.$error" ng-if="postForm.$submitted">
            <p ng-message="required">Please enter your username</p>
          </span>
        </div>

        <div class="form-group">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
          <span class="text-danger" ng-messages="postForm.password.$error" ng-if="postForm.$submitted">
            <p ng-message="required">Please enter your password</p>
          </span>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.username.$error.required && form.password.$error.required && vm.submitted">
             Please enter your username and password.
          </p>
          <!-- <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
             Please enter a valid email.
          </p> -->

          <p class="help-block">{{ vm.errors.other }}</p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login btn btn-info " type="submit">
            Login
          </button>
          <a class="btn btn-default btn-lg btn-register" ui-sref="signup">
            Register
          </a>
        </div>
      </fieldset>

        <!-- <div class="row">
          <div class="col-sm-4 col-md-3">
            <oauth-buttons classes="btn-block"></oauth-buttons>
          </div>
        </div> -->
      </form>
    </div>
  </div>
  <hr>
</div>
