<div>
      <div class="row">
      <div class="col-xs-12">
        <h2>CV Builder</h2>
        <div class="row">
          <div class="col-sm-4" >
            <div class="form-group">
              <label for="sport" ng-if="!vm.new">CVs</label>
              <select ng-if="!vm.new" class="form-control" id="sport" ng-options="cv.Id as cv.Name for cv in vm.listOfCvs" ng-model="vm.selectedCv">
                <option value="">Choose cv</option>
              </select>
              <label for="sport" ng-if="vm.new">CV title</label>
              <input type="text" class="form-control" ng-if="vm.new" name="Name" required ng-model="vm.cvData.Name">

            </div>
          </div>
          <div class="col-sm-8">
            <div class="form-group">

              <button class="btn">Open</button>
              <button ng-click="vm.new = true;" class="btn">New</button>
              <button class="btn">Import</button>
          </div>
          </div>
        </div>
        <div class="form-group">
          <label for="statment">Personal Statement</label>
          <textarea class="form-control" rows="6" id="statment"></textarea>
        </div>
        <div class="form-group">
          <label for="statment">Objectives</label>
          <textarea class="form-control" rows="6" id="statment"></textarea>
        </div>
        <h4>Employment</h4>
        <div class="employment">
          <div class="row">
            <div class="col-sm-3 col-xs-6">
              <div class="form-group">
                <label for="city">From Month</label>
                <input type="text" class="form-control" id="city" placeholder="">
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="form-group">
                <label for="city">From Year</label>
                <input type="text" class="form-control" id="city" placeholder="">
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="form-group">
                <label for="city">To Month</label>
                <input type="text" class="form-control" id="city" placeholder="">
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="form-group">
                <label for="city">To Year</label>
                <input type="text" class="form-control" id="city" placeholder="">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="statment">Summary</label>
            <textarea class="form-control" rows="6" id="statment"></textarea>
          </div>
          <div class="form-group">
            <label for="statment">Responsibilities</label>
            <textarea class="form-control" rows="6" id="statment"></textarea>
          </div>
          <div class="form-group">
            <label for="statment">Achievments</label>
            <textarea class="form-control" rows="6" id="statment"></textarea>
          </div>
          <button class="btn">Add Employment</button>
        </div>
        <h4>Education</h4>
        <div class="education">
          <div class="row">
            <div class="col-sm-3 col-xs-6">
              <div class="form-group">
                <label for="city">From Month</label>
                <input type="text" class="form-control" id="city" placeholder="">
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="form-group">
                <label for="city">From Year</label>
                <input type="text" class="form-control" id="city" placeholder="">
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="form-group">
                <label for="city">To Month</label>
                <input type="text" class="form-control" id="city" placeholder="">
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="form-group">
                <label for="city">To Year</label>
                <input type="text" class="form-control" id="city" placeholder="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="statment">Place of Study</label>
                <input type="text" class="form-control" id="city" placeholder="">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="statment">Subject</label>
                <input type="text" class="form-control" id="city" placeholder="">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="statment">Qualification</label>
                <input type="text" class="form-control" id="city" placeholder="">
              </div>
            </div>
            <button class="btn">Add Education</button>
          </div>
        </div>
        <h4>Courses</h4>
        <div class="education">
          <div class="row">
            <div class="col-sm-3 col-xs-6">
              <div class="form-group">
                <label for="city">Month</label>
                <input type="text" class="form-control" id="city" placeholder="">
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="form-group">
                <label for="city">Year</label>
                <input type="text" class="form-control" id="city" placeholder="">
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="form-group">
                <label for="city">Name</label>
                <input type="text" class="form-control" id="city" placeholder="">
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="form-group">
                <label for="city">Qualification</label>
                <input type="text" class="form-control" id="city" placeholder="">
              </div>
            </div>
          </div>
            <button class="btn">Add Course</button>
          </div>
        </div>
        <div class="form-group">
          <label for="statment">Hobbies</label>
          <textarea class="form-control" rows="6" id="statment"></textarea>
        </div>
        <div class="form-group">
          <label for="statment">Other</label>
          <textarea class="form-control" rows="6" id="statment"></textarea>
        </div>
        <button class="btn">Save CV</button>
      </div>
</div>