<div>
  <form novalidate="" name="form" ng-submit="vm.changePassword(form)">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <div class="form-group">
          <label for="firstpassword">New Password</label>
          <input ng-model="vm.formData.password" name="first" type="password" class="form-control" id="firstPassword" placeholder="Password" required="" ng-minlength="6">
          <span class="text-warning" ng-messages="form.first.$error" ng-if="form.$submitted">
            <p ng-message="required">
              Enter your passwrd
            </p>
            <p ng-message="minlength">
              Enter more than 6 character password
            </p>
          </span>
        </div>
        <div class="form-group">
          <label for="secondpassword">Confirm Password</label>
          <input match-password="first" name="second" type="password" ng-model="vm.formData.confirm" class="form-control" id="secondpassword" compare-to="vm.formData.password"  placeholder="Password" required="">
          <span class="text-warning" ng-messages="form.second.$error" ng-if="form.$submitted">
            <p ng-message="required">
              Please confirm the password
            </p>
            <p ng-message="compareTo">
              Password doesn't match
            </p>
          </span>
        </div>
      </div>
    </div>
   <div class="row">
     <div class="col-sm-offset-4 col-sm-4 text-info">
       This feature is currently unavailable
     </div>
     <br>
   </div>
   <div class="row">
     <div class="col-sm-offset-4 col-sm-4">
         <button type="submit" class="btn">Change Password</button>
     </div>
   </div>
 </form>
</div>
