<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="clearfix">
        <!-- <div id="breadcrumb" class="pull-left">
          Sectors
        </div> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div>
        <h1>Choose a Sector</h1>
        <ul class="list-group">
          <li ng-repeat="sector in vm.sectorLists" class="list-group-item"><span ng-bind-html="sector.title.rendered"></span> <a ui-sref="roles.roleList({SectorId: sector.id})" class="btn btn-info btn-sm">View Roles</a></li>
        </ul>
        <!-- <ul>
          <li ng-repeat="sector in vm.sectorLists"><a href="#">{{sector.Name}}</a> <button class="btn btn-info btn-sm">View Roles</button>
</li>
        </ul> -->
      </div>
    </div>
  </div>
</div>
